<?xml version="1.0"?>
<!--
/**
 * Copyright © Avenyra. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- add image column -->
    <type name="Magento\Sales\Block\Adminhtml\Order\View\Items">
        <plugin name="avenyra_add_image_column"
                type="Avenyra\OrderItemImages\Plugin\Block\Adminhtml\Order\View\Items"/>
    </type>
    <!-- image column renderer -->
    <type name="Magento\Sales\Block\Adminhtml\Order\View\Items\Renderer\DefaultRenderer">
        <plugin name="avenyra_add_image_column_data"
                type="Avenyra\OrderItemImages\Plugin\Block\Adminhtml\Order\View\Items\Renderer\DefaultRenderer"/>
    </type>
</config>

